<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>Автоматизированная Система Тестирования Графического Интерфейса Веб Приложений</title>
    <link rel="stylesheet" type="text/css" href="{% static "tgiwa/css/bootstrap.min.css" %}"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "tgiwa/js/bootstrap.min.js" %}"></script>
    {% block head_ext %}
    {% endblock head_ext %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>