{% extends 'page.html' %}
{% block content %}
    <div class="jumbotron">
        <h1>Подать заявку на тестирование</h1>
        <p class="lead">Перейдя по ссылке вы можете подать заявку на автоматизированное тестирование графического интерфейса пользователя</p>
        <p><a class="btn btn-lg btn-primary" href="/request_for_test/" role="button">Подать заявку</a></p>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Дефекты верстки веб-станицы</h4>
            <p>Дефекты верстки веб-станицы могут не проявляться при отображении страницы в браузере т.к. html не строго структурированный язык разметки. Браузеры умеют обрабатывать такие ситуации, но алгоритмы обработки разные и страница может отображаться по разному.</p>

            <h4>Битые ссылки на веб-странице и в ее ресурсах</h4>
            <p>Битые ссылки на веб-страницах могут появляться при некорректном формировании адреса или по не внимательности. Выявляются при статическом анализе странице и ее ресурсов.</p>

            <h4>Отсутствие вертикальных и горизонтальных полос прокрутки</h4>
            <p>Отсутствие полос прокрутки в основном проявляется при отсутсвии учета различных разрешений экрана. Поиск таких дефектов происходит с помощью графического анализа.</p>
        </div>
        <div class="col-lg-6">
            <h4>Выхождение текста за рамки видимого элемента</h4>
            <p>Выхождение текста за рамки видимого элемента провяляются в различных рашрешениях пэкрана и при поддержки нескольких браузеров. Выражаются в выхождении текста за рамки видимых родительских элементов.</p>

            <h4>Низкий контраст текста</h4>
            <p>Низкий контраст текста менее распространенный дефект графического интерфейса, но вызывает у пользователя дискомфорт. Поиск текста с низким контрастом проходит при графическом анализе.</p>

            <h4>Отправка результатов тестирование на почтовый ящик</h4>
            <p>Результатов тестирования оформляются в отчет, который отправляется на электронный адрес из заявки на тестирование.</p>
        </div>
    </div>
{% endblock content %}